{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends '@admin/default_frame.twig' %}

{% set menus = ['menu', 'menu_edit'] %}

{% block title %}メニュー情報{% endblock %}
{% block sub_title %}メニュー情報登録{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}

{% block main %}

    <form name="menu_form" role="form" id="menu_form" method="post" class="h-adr"
        action={% if app.request.get('id') %} "{{ url('admin_menu_edit', { id : Menu.id }) }}" {% else %} "{{ url('admin_menu_new') }}" {% endif %}
        novalidate enctype="multipart/form-data"> 
        <input type="hidden" name="image_delete_flg" value="">
        <span class="p-country-name" style="display:none;">Japan</span>
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8"><span class="card-title">メニュー情報</span>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#ordererInfo"
                                       aria-expanded="false" aria-controls="ordererInfo">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                       <div class="collapse show ec-cardCollapse" id="ordererInfo">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>店舗ID</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ Menu.shopId }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>紹介</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.title) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.title) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>紹介文</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.introduction) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.introduction) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>値段</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.price) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.price) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>カテゴリ</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.category_id) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.category_id) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>ヘットペッパーメニューID</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.hotpepper_menu_id) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.hotpepper_menu_id) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block" data-tooltip="true" data-placement="top"
                                         title="メニュー用のメモ欄です。フロント側には表示されません。">
                                        <span class="card-title">メニュー用メモ欄</span>
                                        <i class="fa fa-question-circle fa-lg ml-1"></i>
                                    </div>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#shopMemo" aria-expanded="false"
                                       aria-controls="shopMemo">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="shopMemo">
                            <div class="card-body">
                                {{ form_widget(form.memo, { 'attr': { 'row': 8 }}) }}
                                {{ form_errors(form.memo) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem">
                            <a class="c-baseLink"
                               href="{{ url('admin_menu_page', { page_no : app.session.get('eccube.admin.customer.search.page_no')|default('1') } ) }}?resume=1">
                                <i class="fa fa-backward" aria-hidden="true"></i>
                                <span>メニュー一覧</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5"
                                        type="submit">{{ 'admin.common.registration'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
