{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{#{% form_theme form 'Form/form_div_layout.twig' %}#}

{% block javascript %}
<script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}

{% block main %}
    <div class="ec-registerRole">
        <div class="ec-pageHeader">
            <h1>掲載をご希望のサロン様へ</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <form method="post" action="" novalidate class="h-adr">
                    <span class="p-country-name" style="display:none;">Japan</span>
                    {{ form_widget(form._token) }}
                    <div class="ec-borderedDefs">

                        <dl>
                            <dt>
                                <label class="ec-label required" for="shop_entry_open_status">開業状況</label>
                                <span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-select{{ has_errors(form.open_status) ? ' error'}}">
                                    {{ form_widget(form.open_status) }}
                                    {{ form_errors(form.open_status) }}
                                </div>
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <label class="ec-label required" for="shop_entry_name">貴店名</label>
                                <span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.name) ? ' error'}}">
                                    {{ form_widget(form.name) }}
                                    {{ form_errors(form.name) }}
                                </div>
                            </dd>
                        </dl>


                        <dl>
                            <dt>
                                <label class="ec-label required" for="shop_entry_person_in_charge">ご担当者</label>
                                <span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.person_in_charge) ? ' error'}}">
                                    {{ form_widget(form.person_in_charge) }}
                                    {{ form_errors(form.person_in_charge) }}
                                </div>
                            </dd>
                        </dl>


                        <dl>
                            <dt>
                                <label class="ec-label required" for="shop_entry_industry_type">貴店の業種</label>
                                <span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-select{{ has_errors(form.industry_type) ? ' error'}}">
                                    {{ form_widget(form.industry_type) }}
                                    {{ form_errors(form.industry_type) }}
                                </div>
                            </dd>
                        </dl>


                        <dl>
                            <dt>
                                <label class="ec-label required" for="shop_entry_address">住所</label>
                                <span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-zipInput{{ has_errors(form.postal_code) ? ' error' }}"><span>{{ 'common.postal_symbol'|trans }}</span>
                                    {{ form_widget(form.postal_code) }}
                                    <div class="ec-zipInputHelp">
                                        <div class="ec-zipInputHelp__icon">
                                            <div class="ec-icon"><img
                                                        src="{{ asset('assets/icon/question-white.svg') }}" alt="">
                                            </div>
                                        </div><a href="https://www.post.japanpost.jp/zipcode/" target="_blank"><span>{{ 'common.search_postal_code'|trans }}</span></a>
                                    </div>
                                    {{ form_errors(form.postal_code) }}
                                </div>

                                <div class="ec-select{{ has_errors(form.address.pref) ? ' error' }}">
                                    {{ form_widget(form.address.pref) }}
                                    {{ form_errors(form.address.pref) }}
                                </div>
                                <div class="ec-input{{ has_errors(form.address.addr01) ? ' error' }}">
                                    {{ form_widget(form.address.addr01, { 'attr': { 'placeholder': 'common.address_sample_01' }}) }}
                                    {{ form_errors(form.address.addr01) }}
                                </div>
                                <div class="ec-input{{ has_errors(form.address.addr02) ? ' error' }}">
                                    {{ form_widget(form.address.addr02,  { 'attr': { 'placeholder': 'common.address_sample_02' }}) }}
                                    {{ form_errors(form.address.addr02) }}
                                </div>
                            </dd>
                        </dl>


                        <dl>
                            <dt>
                                <label class="ec-label required" for="shop_entry_phone_number">電話</label>
                                <span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-telInput{{ has_errors(form.phone_number) ? ' error' }}">
                                    {{ form_widget(form.phone_number) }}
                                    {{ form_errors(form.phone_number) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label class="ec-label required" for="shop_entry_email">メールアドレス</label>
                                <span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-input{{ has_errors(form.email.first) ? ' error' }}">
                                    {{ form_widget(form.email.first, { 'attr': { 'placeholder': 'common.mail_address_sample' }}) }}
                                    {{ form_errors(form.email.first) }}
                                </div>
                                <div class="ec-input{{ has_errors(form.email.second) ? ' error' }}">
                                    {{ form_widget(form.email.second, { 'attr': { 'placeholder': 'common.repeated_confirm' }}) }}
                                    {{ form_errors(form.email.second) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label class="ec-label required" for="shop_entry_password">パスワード</label>
                                <span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-input{{ has_errors(form.password.first) ? ' error' }}">
                                    {{ form_widget(form.password.first, {
                                        'attr': { 'placeholder': 'common.password_sample'|trans({ '%min%': eccube_config.eccube_password_min_len, '%max%': eccube_config.eccube_password_max_len }) },
                                        'type': 'password'
                                    }) }}
                                    {{ form_errors(form.password.first) }}
                                </div>
                                <div class="ec-input{{ has_errors(form.password.second) ? ' error' }}">
                                    {{ form_widget(form.password.second, {
                                        'attr': { 'placeholder': 'common.repeated_confirm'|trans },
                                        'type': 'password'
                                    }) }}
                                    {{ form_errors(form.password.second) }}
                                </div>
                            </dd>
                        </dl>


                        <dl>
                            <dt>
                                <label class="ec-label required" for="shop_entry_url">貴店のURL</label>
                            </dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.url) ? ' error'}}">
                                    {{ form_widget(form.url) }}
                                    {{ form_errors(form.url) }}
                                </div>
                            </dd>
                        </dl>


                        <dl>
                            <dt>
                                <label class="ec-label required" for="shop_entry_question">ご質問・ご要望</label>
                            </dt>
                            <dd>
                                <div class="ec-input{{ has_errors(form.question) ? ' error'}}">
                                    {{ form_widget(form.question) }}
                                    {{ form_errors(form.question) }}
                                </div>
                            </dd>
                        </dl>


                    </div>
                    <div class="ec-registerRole__actions">
                        <div class="ec-off4Grid">
                            <div class="ec-off4Grid__cell">
                                <button class="ec-blockBtn--action" type="submit" name="mode" value="confirm">送信</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
