{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block javascript %}
    <script>
        var getUrlParameter = function getUrlParameter(sPageURL, sParam) {
            var sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };

        $(document).ready(function(){
            $("a.icnOpen").each(function(i,item){
                var shop_id = {{ shop_id }};
                var menu_id = {{ menu_id }};
                var original_url = $(item).attr("href");
                var rsvRequestDate = getUrlParameter(original_url, "rsvRequestDate1");
                var rsvRequestTime = getUrlParameter(original_url, "rsvRequestTime1");
                $(item).attr("href", "/reservation/confirm?shopId=" + shop_id + '&menuId=' + menu_id + '&rsvDate=' + rsvRequestDate + '&rsvTime=' + rsvRequestTime);
            });
        });

        $('input[name="staff"]').change(function(){
            var staffId = $(this).val();
            $("a.icnOpen").each(function(i,item){
                origin_url = $(item).attr('href');
                var url_arr = origin_url.split('&');
                if (url_arr.length > 4) {
                    url_arr = url_arr.slice(0, -1);
                    origin_url = url_arr.join('&');
                }
                $(item).attr("href", origin_url + '&staffId=' + staffId);
            });
        });

    </script>
{% endblock javascript %}

{% block main %}


    <div class="ec-shelfRole" style="margin-top:120px">
        <ul class="ec-shelfGrid">
            <li style="margin-right:50px">
                <a href="">
                    <p class="ec-shelfGrid__item-image" style="width:150px;height:160px">
                        <img src="http://design-ec.com/d/e_others_50/l_e_others_500.jpg">
                    </p>
                    <div style="text-align:center">
                        <input name="staff" value="" type="radio" checked="checked">指名なし予約
                    </div>
                </a>
            </li>

            {% for id,Staff in Staffs %}
                <li style="margin-right:50px">
                    <a href="">
                        <p class="ec-shelfGrid__item-image" style="width:150px;height:160px">
                            <img src="{{ asset(Staff.image|no_image_product, 'save_image') }}">
                        </p>
                        <div style="text-align:center">
                            <p>{{ Staff.name }}</p>
                            <input name="staff" value="{{ id }}" type="radio">指名して予約

                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
        
    {{content|raw}}


{% endblock %}
