{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends '@admin/default_frame.twig' %}

{% set menus = ['reservation', 'reservation_edit'] %}

{% block title %}予約情報{% endblock %}
{% block sub_title %}予約情報確認{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/tempusdominus-bootstrap-4.min.css', 'admin') }}">
    <style type="text/css">
        .datepicker-days th.dow:first-child,
        .datepicker-days td:first-child {
            color: #f00;
        }
        .datepicker-days th.dow:last-child,
        .datepicker-days td:last-child {
            color: #00f;
        }
    </style>
{% endblock stylesheet %}
{% block javascript %}
    <script>
        $('#admin_reservation_status').change(function(){
            var reservationCancel = "{{ Reservation.canceled_at|date('Y/m/d H:i') }}"
            if ($(this).val() == 3 && reservationCancel != null) {
                $('#cancele_div').show();
            } else {
                $('#cancele_div').hide();
            }
        });
        $(function() {
            $.when(
                $.getScript("{{ asset('assets/js/vendor/moment.min.js', 'admin') }}"),
                $.getScript("{{ asset('assets/js/vendor/moment-with-locales.min.js', 'admin') }}"),
                $.getScript("{{ asset('assets/js/vendor/tempusdominus-bootstrap-4.min.js', 'admin') }}")
            ).done(function() {
                // datetimepicker で value が消えてしまうので data-value に保持しておく
                $('input.datetimepicker-input').each(function() {
                    $(this).data('value', $(this).val());
                });

                $('input.datetimepicker-input').datetimepicker({
                    locale: '{{ eccube_config.locale }}',
                    format: 'YYYY/MM/DD HH:mm',
                    useCurrent: false,
                    buttons: {
                        showToday: true,
                        showClose: true
                    },
                });

                // datetimepicker で value が消えてしまうので更新
                $('input.datetimepicker-input').each(function() {
                    $(this).val($(this).data('value'));
                });
            });
        });
        
    </script>
{% endblock javascript %}

{% block main %}
    <form name="reservation_form" role="form" id="reservation_form" method="post" class="h-adr"
          action="{{ url('admin_reservation_edit', { id : Reservation.id }) }}"
          novalidate>
        <input type="hidden" name="image_delete_flg" value="">
        <span class="p-country-name" style="display:none;">Japan</span>
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8"><span class="card-title">予約情報</span>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#ordererInfo"
                                       aria-expanded="false" aria-controls="ordererInfo">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="ordererInfo">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>注文ID</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ Reservation.orderId }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>日時</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ Reservation.starttime }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>会員</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {% if Reservation.customerId is not null %}{{ Reservation.customer.name01 }}&nbsp;{{ Reservation.customer.name02 }}{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>メニュー</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.menu_id) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.menu_id) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>スタッフ</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.staff_id) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.staff_id) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>ステータス</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.status) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.status) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if Reservation.status == 3 and Reservation.canceled_at is not null %}
                                <div class="row mb-2" id="cancele_div">
                                    <div class="col-3">
                                        <span>キャンセル時間</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ Reservation.canceled_at|date('Y/m/d H:i') }}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                {% endif %}
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>備考</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.note) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.note) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>管理員メモ</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.memo_admin) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.memo_admin) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>店舗に通知メッセージ</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.message_to_shop) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.message_to_shop) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>店舗に通知状態</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.message_sended_status) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.message_sended_status) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>  

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>店舗に通知時間</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.message_sended_at) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.message_sended_at) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>利用ポイント数</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.point) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.point) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>利用前の総ポイント数</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.point_sum_before_reservation) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.point_sum_before_reservation) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>予約時間</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.created_at) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.created_at) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block" data-tooltip="true" data-placement="top"
                                         title="予約用のメモ欄です。フロント側には表示されません。">
                                        <span class="card-title">予約用メモ欄</span>
                                        <i class="fa fa-question-circle fa-lg ml-1"></i>
                                    </div>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#shopMemo" aria-expanded="false"
                                       aria-controls="shopMemo">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="shopMemo">
                            <div class="card-body">
                                {{ form_widget(form.memo, { attr : { rows : "8"}}) }}
                                {{ form_errors(form.memo) }}
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>

        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem">
                            <a class="c-baseLink"
                               href="{{ url('admin_reservation_page', { page_no : app.session.get('eccube.admin.customer.search.page_no')|default('1') } ) }}?resume=1">
                                <i class="fa fa-backward" aria-hidden="true"></i>
                                <span>予約一覧</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5"
                                        type="submit">{{ 'admin.common.registration'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
