{#field_name#}
{#ファイルアップロード共通処理#}
<style>
    #thumb-{{ field_name }} div {
        float: left;
        margin: 4px
    }

    .ui-state-highlight {
        height: 70px;
        width: 70px;
        border: dashed 1px #ccc;
        background: #fff;
    }
</style>

<div class="row">
    <div class="col-3">
        <div class="d-inline-block" data-tooltip="true" data-placement="top" title="{{ 'tooltip.product.image'|trans }}">
            <span>{% if field_name == 'top_images' %}トップイメージ{% else %}店舗画像{% endif %}</span>
            <i class="fa fa-question-circle fa-lg ml-1"></i>
            <br>{{ 'admin.product.image_size'|trans }}
        </div>
    </div>
    <div class="col mb-2">
        <br/>
        <div id="thumb_{{ field_name }}" class="c-form__fileUploadThumbnails clearfix"></div>
        <p id="message_{{ field_name }}"></p>
        <div id="upload-zone-{{ field_name }}" class="media py-5 border-ec-dashed mb-2 rounded">
            <div class="media-body">
                <i class="fa fa-cloud-upload fa-3x text-ec-lightGray mx-3 align-middle" aria-hidden="true"></i>
                {{ 'admin.common.drag_and_drop_image_description'|trans }}
                {% if field_name == 'top_images' %}
                    {{ form_widget(form.top_images, { attr : { accept : 'image/*', style : 'display:none;' } }) }}
                    {{ form_errors(form.top_images) }}
                {% else %}
                    {{ form_widget(form.introduction_images, { attr : { accept : 'image/*', style : 'display:none;' } }) }}
                    {{ form_errors(form.introduction_images) }}
                {% endif %}
                <a class="btn btn-ec-regular mr-2" onclick={{ field_name == 'top_images' ? "$('#admin_shop_top_images').click()" : "$('#admin_shop_introduction_images').click()"}}  }}>
                    {{ 'admin.common.file_select'|trans }}
                </a>
            </div>
        </div>
    </div>
</div>


