{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends '@admin/default_frame.twig' %}

{% set menus = ['shop', 'shop_edit'] %}

{% block title %}掲載店情報{% endblock %}
{% block sub_title %}掲載店情報確認{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block stylesheet %}
    <style>
        .delete-image {
            margin-left: 5px;
        }
        .divx {
            cursor: pointer;
            background-color: #FFFFFF;
            opacity:0.5;
            width: 20px;
            height: 20px;
            position:absolute;
            top:0;
            left:150px;
        }
        
    </style>
{% endblock stylesheet %}

{% block javascript %}

    <script src="{{ asset('assets/js/vendor/fileupload/vendor/jquery.ui.widget.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/fileupload/jquery.iframe-transport.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/fileupload/jquery.fileupload.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/fileupload/jquery.fileupload-process.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/fileupload/jquery.fileupload-validate.js', 'admin') }}"></script>
    <script>var bootstrapTooltip = $.fn.tooltip.noConflict();</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $.fn.tooltip = bootstrapTooltip;
        $(document).on('drop dragover', function(e) {
            e.preventDefault();
        });
        $(function() {
            var confirmFormChange = function(form, target, modal) {
                var returnLink = form.find('input[type="hidden"][name*="return_link"]'),
                    saveBtn = modal.find('a[data-action="save"]'),
                    cancelBtn = modal.find('a[data-action="cancel"]');
                modal.on('hidden.bs.modal', function() {
                    returnLink.val('');
                });
                saveBtn.on('click', function() {
                    returnLink.val($(this).data('return-link'));
                    $(this).addClass('disabled');
                    form.submit();
                });
                target.on('click', function() {
                    modal.find('.modal-body .screen-name').text($(this).attr('title'));
                    modal.modal('show');
                    saveBtn.data('return-link', $(this).attr('href'));
                    cancelBtn.attr('href', $(this).attr('href'));
                    return false;
                });
            };

            confirmFormChange($('#form1'), $('a[data-action="confirm"]'), $('#confirmFormChangeModal'))
        });

        var delete_images = []
        // アップロードするファイルを選択
        $('input[type=file]').each(function(index, ele){
            $(this).change(function() {
                var imgName = '#' + $(this).attr('data-img');
                var file = $(this).prop('files')[0];

                // 画像以外は処理を停止
                if (! file.type.match('image.*')) {
                    // クリア
                    $(this).val('');
                    $(imgName).html('');
                    return;
                }

                // 画像表示
                var reader = new FileReader();
                reader.onload = function() {
                    var img_src = '<div style="position:relative">' 
                    + '<img src=' + reader.result + ' width="170px" height="170px">'
                    + '<div class="divx delete_img">'
                    + '<a class="delete-image"><i class="fa fa-times" aria-hidden="true"></i></a></div></div>';
                    $(imgName).html(img_src);
                }
                reader.readAsDataURL(file);
                // 画像削除
                $(imgName).on('click','.delete_img', function(){
                    $(this).parent().remove();
                    var tagName = '#admin_shop_' + imgName.slice(1);
                    $(tagName).val('');
                });
            });
        });

        // 元画像削除
        $('.delete_origin_img').click(function(){
            $(this).parent().remove();
            var eleName = $(this).attr('data-img');
            delete_images.push(eleName);
            $('[name="image_delete_flg"]').val(delete_images.join(','));
        });

    </script>

{% endblock javascript %}

{% block main %}
    <form name="customer_form" role="form" id="customer_form" method="post" class="h-adr"
          action="{{ url('admin_shop_edit', { id : Shop.id }) }}"
          novalidate enctype="multipart/form-data">
        <input type="hidden" name="image_delete_flg" value="">
        <span class="p-country-name" style="display:none;">Japan</span>
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8"><span class="card-title">掲載店情報</span>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#ordererInfo"
                                       aria-expanded="false" aria-controls="ordererInfo">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="ordererInfo">
                            <div class="card-body">
                                {% if Shop.id %}
                                    <div class="row mb-2">
                                        <div class="col-3">
                                            <div class="d-inline-block" data-tooltip="true" data-placement="top"
                                                 title="{{ 'tooltip.customer.customer_id'|trans }}">
                                                <span>店舗情報</span>
                                                <i class="fa fa-question-circle fa-lg ml-1"></i>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p>{{ Shop.id }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>店舗名</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.name) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.name) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>サブ店舗名</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.sub_name) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.sub_name) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>担当者名</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.person_in_charge) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.person_in_charge) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>業種</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.industry_type) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.industry_type) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>郵便番号</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.post_code) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.post_code) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>都道府県</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.mtb_pref_id) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.mtb_pref_id) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>住所</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.address) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.address) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>電話番号</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.telephone) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.telephone) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>メールアドレス</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.email) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.email) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>URL</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.url) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.url) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>質問</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.question) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.question) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>ホットペッパー店舗ID</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.hotpepper_store_id) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.hotpepper_store_id) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8"><span class="card-title">掲載店詳細情報</span>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#ordererInfo"
                                       aria-expanded="false" aria-controls="ordererInfo">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="collapse show ec-cardCollapse" id="ordererInfo">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>ロゴ</span>
                                        <i class="fa fa-question-circle fa-lg ml-1"></i>
                                        <br>{{ 'admin.product.image_size'|trans }}
                                    </div>
                                    <div class="col">
                                        <div id="logo">
                                        {% if Shop.logo is not null %}
                                            <div style="position:relative;">
                                                <img src="{{ asset(Shop.logo|no_image_product, 'save_image') }}" width="170px" height="100%">
                                                <div class="divx delete_origin_img" data-img="logo">
                                                    <a class="delete-image"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        {% endif %}
                                        </div>
                                        <div class="media py-5 border-ec-dashed mb-2 rounded">
                                            <div class="media-body">
                                                <i class="fa fa-cloud-upload fa-3x text-ec-lightGray mx-3 align-middle" aria-hidden="true"></i>
                                                画像を
                                                {{ form_widget(form.logo, {attr: {placeholder: 'admin.content.file.directory_name', accept : 'image/*', style : 'display:none;', 'data-img' : 'logo' }}) }}
                                                {{ form_errors(form.logo) }}
                                                <a class="btn btn-ec-regular mr-2" onclick="$('#admin_shop_logo').click()">
                                                    {{ 'admin.common.file_select'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                               {%
                                    include
                                        "Subview/multiple_image_upload.twig" with
                                        {
                                            "field_name": "top_images",
                                            "form": form,
                                        }
                                %}
                                {%
                                    include
                                        "Subview/top_images_upload.twig" with
                                        {
                                            "field_name": "top_images",
                                            "form": form,
                                        }
                                %}
                                

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>タグ</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.tags) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.tags) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>アクセス・道案内</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.access) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.access) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>営業時間</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.business_hours) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.business_hours) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>クレジットカード</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.credit_cards_info) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.credit_cards_info) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>カット値段</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.price) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.price) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>席数</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.seats) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.seats) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>スタッフ数</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.staff_number) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.staff_number) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>駐車場</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.parking_area) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.parking_area) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>こだわり条件</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.conditions) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.conditions) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>店舗紹介タイトル</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.introduction_title) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.introduction_title) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>店舗紹介</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.introduction) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.introduction) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {%
                                    include
                                        "Subview/multiple_image_upload.twig" with
                                        {
                                            "field_name": "introduction_images",
                                            "form": form,
                                        }
                                %}
                                {%
                                    include
                                        "Subview/intro_images_upload.twig" with
                                        {
                                            "field_name": "introduction_images",
                                            "form": form,
                                        }
                                %}

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>こだわりタイトル1</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.commitment_title_1) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.commitment_title_1) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>こだわり写真1</span>
                                    </div>
                                    <div class="col">
                                        <span id="commitmentImage1">
                                        {% if Shop.commitmentImage1 is not null %}
                                            <div style="position:relative;">
                                                <img src="{{ asset(Shop.commitmentImage1|no_image_product, 'save_image') }}" width="170px" height="170px">
                                                <div class="divx delete_origin_img" data-img="commitmentImage1">
                                                    <a class="delete-image"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        {% endif %}
                                        </span>
                                        <div class="media py-5 border-ec-dashed mb-2 rounded">
                                            <div class="media-body">
                                                <i class="fa fa-cloud-upload fa-3x text-ec-lightGray mx-3 align-middle" aria-hidden="true"></i>
                                                画像を
                                                {{ form_widget(form.commitmentImage1, {attr: {placeholder: 'admin.content.file.directory_name', accept : 'image/*', style : 'display:none;', 'data-img' : 'commitmentImage1' }}) }}
                                                {{ form_errors(form.commitmentImage1) }}
                                                <a class="btn btn-ec-regular mr-2" onclick="$('#admin_shop_commitmentImage1').click()">
                                                    {{ 'admin.common.file_select'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>こだわり説明1</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.commitment_introduction_1) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.commitment_introduction_1) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>こだわりタイトル2</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.commitment_title_2) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.commitment_title_2) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>こだわり写真2</span>
                                    </div>
                                    <div class="col">
                                        <div id="commitmentImage2">
                                        {% if Shop.commitmentImage2 is not null %}
                                            <div style="position:relative;">
                                                <img src="{{ asset(Shop.commitmentImage2|no_image_product, 'save_image') }}" width="170px" height="170px">
                                                <div class="divx delete_origin_img" data-img="commitmentImage2">
                                                    <a class="delete-image"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        {% endif %}
                                        </div>
                                        <div class="media py-5 border-ec-dashed mb-2 rounded">
                                            <div class="media-body">
                                                <i class="fa fa-cloud-upload fa-3x text-ec-lightGray mx-3 align-middle" aria-hidden="true"></i>
                                                画像を
                                                {{ form_widget(form.commitmentImage2, {attr: {placeholder: 'admin.content.file.directory_name', accept : 'image/*', style : 'display:none;', 'data-img' : 'commitmentImage2' }}) }}
                                                {{ form_errors(form.commitmentImage2) }}
                                                <a class="btn btn-ec-regular mr-2" onclick="$('#admin_shop_commitmentImage2').click()">
                                                    {{ 'admin.common.file_select'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>こだわり説明2</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.commitment_introduction_2) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.commitment_introduction_2) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>雰囲気タイトル1</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.environment_title_1) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.environment_title_1) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>雰囲気写真1</span>
                                    </div>
                                    <div class="col">
                                        <div id="environmentImage1">
                                        {% if Shop.environmentImage1 is not null %}
                                            <div style="position:relative;">
                                                <img src="{{ asset(Shop.environmentImage1|no_image_product, 'save_image') }}" width="170px" height="170px">
                                                <div class="divx delete_origin_img" data-img="environmentImage1">
                                                    <a class="delete-image"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        {% endif %}
                                        </div>
                                        <div class="media py-5 border-ec-dashed mb-2 rounded">
                                            <div class="media-body">
                                                <i class="fa fa-cloud-upload fa-3x text-ec-lightGray mx-3 align-middle" aria-hidden="true"></i>
                                                画像を
                                                {{ form_widget(form.environmentImage1, {attr: {placeholder: 'admin.content.file.directory_name', accept : 'image/*', style : 'display:none;', 'data-img' : 'environmentImage1' }}) }}
                                                {{ form_errors(form.environmentImage1) }}
                                                <a class="btn btn-ec-regular mr-2" onclick="$('#admin_shop_environmentImage1').click()">
                                                    {{ 'admin.common.file_select'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>雰囲気説明1</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.environment_introduction_1) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.environment_introduction_1) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>雰囲気タイトル2</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.environment_title_2) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.environment_title_2) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>雰囲気写真2</span>
                                    </div>
                                    <div class="col">
                                        <div id="environmentImage2">
                                        {% if Shop.environmentImage2 is not null %}
                                            <div style="position:relative;">
                                                <img src="{{ asset(Shop.environmentImage2|no_image_product, 'save_image') }}" width="170px" height="170px">
                                                <div class="divx delete_origin_img" data-img="environmentImage2">
                                                    <a class="delete-image"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        {% endif %}
                                        </div>
                                        <div class="media py-5 border-ec-dashed mb-2 rounded">
                                            <div class="media-body">
                                                <i class="fa fa-cloud-upload fa-3x text-ec-lightGray mx-3 align-middle" aria-hidden="true"></i>
                                                画像を
                                                {{ form_widget(form.environmentImage2, {attr: {placeholder: 'admin.content.file.directory_name', accept : 'image/*', style : 'display:none;', 'data-img' : 'environmentImage2' }}) }}
                                                {{ form_errors(form.environmentImage2) }}
                                                <a class="btn btn-ec-regular mr-2" onclick="$('#admin_shop_environmentImage2').click()">
                                                    {{ 'admin.common.file_select'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>雰囲気説明2</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.environment_introduction_2) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.environment_introduction_2) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>雰囲気タイトル3</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.environment_title_3) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.environment_title_3) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>雰囲気写真3</span>
                                    </div>
                                    <div class="col">
                                        <div id="environmentImage3">
                                        {% if Shop.environmentImage3 is not null %}
                                            <div style="position:relative;">
                                                <img src="{{ asset(Shop.environmentImage3|no_image_product, 'save_image') }}" width="170px" height="170px">
                                                <div class="divx delete_origin_img" data-img="environmentImage3">
                                                    <a class="delete-image"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        {% endif %}
                                        </div>
                                        <div class="media py-5 border-ec-dashed mb-2 rounded">
                                            <div class="media-body">
                                                <i class="fa fa-cloud-upload fa-3x text-ec-lightGray mx-3 align-middle" aria-hidden="true"></i>
                                                画像を
                                                {{ form_widget(form.environmentImage3, {attr: {placeholder: 'admin.content.file.directory_name', accept : 'image/*', style : 'display:none;', 'data-img' : 'environmentImage3' }}) }}
                                                {{ form_errors(form.environmentImage3) }}
                                                <a class="btn btn-ec-regular mr-2" onclick="$('#admin_shop_environmentImage3').click()">
                                                    {{ 'admin.common.file_select'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>雰囲気説明3</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.environment_introduction_3) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.environment_introduction_3) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>一言</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.message) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.message) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>一言担当職</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.message_staff_position) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.message_staff_position) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>一言担当</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.message_staff) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.message_staff) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>一言写真</span>
                                    </div>
                                    <div class="col">
                                        <div id="messageImage">
                                        {% if Shop.messageImage is not null %}
                                            <div style="position:relative;">
                                                <img src="{{ asset(Shop.messageImage|no_image_product, 'save_image') }}" width="170px" height="170px">
                                                <div class="divx delete_origin_img" data-img="messageImage">
                                                    <a class="delete-image"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        {% endif %}
                                        </div>
                                        <div class="media py-5 border-ec-dashed mb-2 rounded">
                                            <div class="media-body">
                                                <i class="fa fa-cloud-upload fa-3x text-ec-lightGray mx-3 align-middle" aria-hidden="true"></i>
                                                画像を
                                                {{ form_widget(form.messageImage, {attr: {placeholder: 'admin.content.file.directory_name', accept : 'image/*', style : 'display:none;', 'data-img' : 'messageImage' }}) }}
                                                {{ form_errors(form.messageImage) }}
                                                <a class="btn btn-ec-regular mr-2" onclick="$('#admin_shop_messageImage').click()">
                                                    {{ 'admin.common.file_select'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="c-contentsArea__secondaryCol">
                <div class="c-secondaryCol">
                     <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block">
                                        <span class="card-title">
                                            開業状況
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#open_status" aria-expanded="false" aria-controls="open_status">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="open_status">
                            <div class="card-body">
                                <div class="col">
                                    {{ form_widget(form.open_status) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block">
                                        <span class="card-title">
                                            認証状態
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#authenticated_by_admin" aria-expanded="false" aria-controls="authenticated_by_admin">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="authenticated_by_admin">
                            <div class="card-body">
                                <div class="col">
                                    {% if app.user.authority.id == 2 %}
                                        <p>{{ Shop.authenticated_by_admin_status }}</p>
                                    {% else %}
                                        {{ form_widget(form.authenticated_by_admin) }}
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block">
                                        <span class="card-title">
                                            公開状態
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#public_status" aria-expanded="false" aria-controls="public_status">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="public_status">
                            <div class="card-body">
                                <div class="col">

                                    {% if app.user.authority.id == 2 %}
                                        <p>{{ Shop.public_status_string }}</p>
                                    {% else %}
                                        {{ form_widget(form.public_status) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>   

                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block" data-tooltip="true" data-placement="top"
                                         title="{{ 'tooltip.customer.shop_memo'|trans }}">
                                        <span class="card-title">{{ 'admin.common.shop_memo'|trans }}</span>
                                        <i class="fa fa-question-circle fa-lg ml-1"></i>
                                    </div>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#shopMemo" aria-expanded="false"
                                       aria-controls="shopMemo">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="shopMemo">
                            <div class="card-body">
                                {{ form_widget(form.memo, { attr : { rows : "8"}}) }}
                                {{ form_errors(form.memo) }}
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>

        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem">
                            <a class="c-baseLink"
                               href="{{ url('admin_shop_page', { page_no : app.session.get('eccube.admin.customer.search.page_no')|default('1') } ) }}?resume=1">
                                <i class="fa fa-backward" aria-hidden="true"></i>
                                <span>掲載店一覧</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                            {#<div class="col-auto">#}
                                {#{{ form_widget(form.status) }}#}
                                {#{{ form_errors(form.status) }}#}
                            {#</div>#}
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5"
                                        type="submit">{{ 'admin.common.registration'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
